<a class="btn btn-outline mt-8" href="{{ path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}) }}">
    <i class="fa-solid fa-plus"></i>
    {{ 'sylius.ui.add_your_review'|trans }}
</a>
