<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.5/phpunit.xsd"
         colors="true"
         bootstrap="config/bootstrap.php">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>vendor/agence-adeliom/sylius-tailwindcss-theme/tests/PHPUnit</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />

        <server name="KERNEL_CLASS_PATH" value="src/Kernel.php" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />

        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value="ed6279846456388a7124bd4f02b6b891"/>
        <!-- env name="TRUSTED_PROXIES" value="127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16" -->
        <!-- env name="TRUSTED_HOSTS" value="'^(localhost|example\.com)$'" -->
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ hwi/oauth-bundle ### -->
        <env name="FB_ID" value=""/>
        <env name="FB_SECRET" value=""/>
        <!-- ###- hwi/oauth-bundle ### -->
    </php>
</phpunit>
