{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('show')), options.link.parameters|default({'id': data.id}))) %}

<a href="{{ path }}" class="btn btn-outline btn-sm">{{ action.label|trans }}</a>
