<div role="tablist" class="tabs tabs-lg tabs-bordered w-full my-20 container">
	<input aria-controls="panel-1" id="tab-1" type="radio" name="product_tabs" class="tab px-4 md:px-10 text-nowrap" aria-label="{{ 'sylius.ui.details'|trans }}" checked/>
	<div role="tabpanel" class="tab-content py-8" id="panel-1" aria-labelledby="tab-1">
		{% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
	</div>

	{% if product.attributes|length > 0 %}
		<input aria-controls="panel-2" id="tab-2" type="radio" name="product_tabs" class="tab px-4 md:px-10 text-nowrap" aria-label="{{ 'sylius.ui.attributes'|trans }}" tabindex="0"/>
		<div role="tabpanel" class=" tab-content py-8" id="panel-2" aria-labelledby="tab-2">
			{% include '@SyliusShop/Product/Show/Tabs/_attributes.html.twig' %}
		</div>
	{% endif %}

	<input aria-controls="panel-3" id="tab-3" type="radio" name="product_tabs" class="tab  px-4 md:px-10 text-nowrap" aria-label="{{ 'sylius.ui.reviews'|trans ~ ' (' ~ product.acceptedReviews|length ~ ')' }}"/>
	<div role="tabpanel" class="tab-content py-8" id="panel-3" aria-labelledby="tab-3">
		{% include '@SyliusShop/Product/Show/Tabs/_reviews.html.twig' %}
	</div>
</div>
