<div class="col-span-full md:col-span-3 lg:quarter-col">
	<h3 class="text-lg mb-3">{{ 'sylius.ui.payment_methods'|trans }}</h3>
	<div class="md:flex-col lg:flex-row flex gap-2">
		<i class="fa-brands fa-cc-mastercard fa-3x"></i>
		<i class="fa-brands fa-cc-visa fa-3x"></i>
		<i class="fa-brands fa-cc-paypal fa-3x"></i>
	</div>
</div>
