<div class="wrapper-12 border-b border-base pb-4">
    <div class="col-span-4 md:col-span-6 lg:col-span-9 max-md:text-sm">
        {{ 'sylius.ui.item'|trans }}
    </div>
    <div class="col-span-3 md:col-span-2 lg:col-span-1 text-end max-md:text-sm">
        {{ 'sylius.ui.unit_price'|trans }}
    </div>
    <div class="col-span-2 md:col-span-2 lg:col-span-1 text-end max-md:text-sm">
        {{ 'sylius.ui.qty'|trans }}
    </div>
    <div class="col-span-2 md:col-span-2 lg:col-span-1 text-end max-md:text-sm">
        {{ 'sylius.ui.subtotal'|trans }}
    </div>
</div>