<a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-primary w-full flex-nowrap">
    <i class="fa-solid fa-check"></i>
    <span class="w-full">{{ 'sylius.ui.checkout'|trans }}</span>
</a>
