{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<button type="submit" class="btn btn-outline" id="sylius-cart-update" {{ sylius_test_html_attribute('cart-update-button') }}>
    <i class="fa-solid fa-floppy-disk"></i>
    {{ 'sylius.ui.update_cart'|trans }}
</button>
