<footer>
    {% include "@SyliusShop/Layout/Footer/Grid/_pre_footer.html.twig" %}
    <div class="bg-secondary text-secondary-content">
        <div class="container py-10 lg:py-20">
            {{ sylius_template_event('sylius.shop.layout.footer') }}
        </div>
    </div>
</footer>
