<div class="container">
    <header class="my-4">
        <div class="flex items-center justify-between gap-2">
            {{ sylius_template_event('sylius.shop.layout.header.grid') }}
        </div>
    </header>
</div>