<div class="bg-light rounded">
	{{ form_row(form.notes, sylius_test_form_attribute('extra-notes')|merge({attr: {rows: 3, class: 'textarea textarea-bordered w-full'}, row_attr: {class: 'mb-0'}})) }}
</div>
