<div class="col-span-full md:col-span-6 lg:col-span-3 p-5 lg:p-10">
    <h4 class="heading-6 font-bold mb-4">{{ 'sylius.ui.new_customers'|trans }}</h4>

    <a href="{{ path('sylius_shop_register') }}" class="btn btn-primary">
        <i class="fa-solid fa-right-to-bracket"></i>
        {{ 'sylius.ui.create_an_account'|trans }}
    </a>
</div>
