@import "tailwindcss";

@source "../../templates/**/*.twig";
@source "../../templates/**/*.html";
@source "../**/*.js";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-accent: #1A866B;
    --color-accent-content: "#000000";
    --color-primary-dark: #1A866B;
    --color-primary: #22b99a;
    --color-primary-content: #ffffff;
    --color-secondary-dark: #002270;
    --color-secondary: #00174b;
    --color-secondary-content: #ffffff;
    --color-neutral: "#f5f5f5";
    --color-neutral-content: "#262626";
    --color-base-100: "#FFFFFF";
    --color-base-200: "#E4E5E7";
    --color-base-300: "#D4D4D8";
    --color-base-content: "#3F3F46";
    --color-success: "#16A34A";
    --color-success-content: "#FFFFFF";
    --color-warning: "#E89300";
    --color-warning-content: "#FFFFFF";
    --color-info: "#464647";
    --color-info-content: "#FFFFFF";
    --color-error: "#DC3526";
    --color-error-content: "#FFFFFF";
    --color-light-content: "#FFFFFF";

    --radius-field: 0;
    --btn-shadow: none;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary-dark: "#FFFFFF";
    --color-primary: #177c68;
    --color-primary-content: "#FFFFFF";
    --color-secondary: #48485C;
    --color-secondary-content: "#FFFFFF";
    --color-accent: "#B7B1AD";
    --color-accent-content: "#000000";
    --color-neutral: "#f5f5f5";
    --color-neutral-content: "#FFFFFF";
    --color-base-100: "#2D2D2E";
    --color-base-200: "#464647";
    --color-base-300: "#58585A";
    --color-base-content: "#e9f3f1";
    --color-success: "#FFFFFF";
    --color-success-content: "#FFFFFF";
    --color-warning: "#E89300";
    --color-warning-content: "#FFFFFF";
    --color-info: "#464647";
    --color-info-content: "#FFFFFF";
    --color-error: "#DC3526";
    --color-error-content: "#FFFFFF";
    --color-light-content: "#FFFFFF";
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@theme {
    --font-heading: "BWT-title";
    --font-text: "BWT-text";
    --font-awesome: [ '"Font Awesome 6"'];
    --hero-gradient: 270deg, rgba(0, 0, 0, 0) 20.66%, rgba(0, 0, 0, 0.7) 66.42%;
    --gray-gradient: 360deg, rgba(228, 228, 231, 0) 48.07%,
    rgba(228, 228, 231, 0.7) 100%;
    --color-base-50: #f9f9f9;
    --color-neutral-200: #E4E4E7;
}

@custom-variant dark (&:where(.dark, .dark *));
@variant is-loading (&:where(.is-loading, .is-loading *));
@variant is-open (&:where(.is-open, .is-open *));
@variant menu-open (&:where(.menu-open, .menu-open *));
@variant block-bg-gray (&:where(.block-bg-gray, .block-bg-gray *));
@variant block-bg-secondary (&:where(.block-bg-secondary, .block-bg-secondary *));
@variant is-selected (&:where(.is-selected, .is-selected *));
@variant open-container (&:where(.open-container, .open-container *));
@variant open-container (&:where(.open-desktop, .open-desktop *));

/* Fonts */
@import url("./Fonts/index.css");

/*!* Layout *!*/
/*@import url("./Layout/index.css");*/

/*!* Typography *!*/
/*@import url("./Typography/index.css");*/

/*!* Action *!*/
/*@import url("./Action/index.css");*/

/*!* Checkout *!*/
/*@import url("./Checkout/index.css");*/

/*!* Feedback *!*/
/*@import url("./Feedback/index.css");*/

/*!* Utils *!*/
/*@import url("./Utils/index.css");*/

/*!* Form *!*/
/*@import url("./Forms/index.css");*/

/*!* Product page *!*/
/*@import url("./Product/index.css");*/

/*!* Navigation page *!*/
/*@import url("./Navigation/index.css");*/

