@import "tailwindcss";

@source "../../templates/**/*.twig";
@source "../../templates/**/*.html";
@source "../**/*.js";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-accent: #1A866B;
    --color-accent-content: "#000000";
    --color-primary-dark: #1A866B;
    --color-primary: #22b99a;
    --color-primary-content: #ffffff;
    --color-secondary-dark: #002270;
    --color-secondary: #00174b;
    --color-secondary-content: #ffffff;
    --color-neutral: "#f5f5f5";
    --color-neutral-content: "#262626";
    --color-base-100: "#FFFFFF";
    --color-base-200: "#E4E5E7";
    --color-base-300: "#D4D4D8";
    --color-base-content: "#3F3F46";
    --color-success: "#16A34A";
    --color-success-content: "#FFFFFF";
    --color-warning: "#E89300";
    --color-warning-content: "#FFFFFF";
    --color-info: "#464647";
    --color-info-content: "#FFFFFF";
    --color-error: "#DC3526";
    --color-error-content: "#FFFFFF";
    --color-light-content: "#FFFFFF";

    --radius-field: 0;
    --btn-shadow: none;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary-dark: "#FFFFFF";
    --color-primary: #177c68;
    --color-primary-content: "#FFFFFF";
    --color-secondary: #48485C;
    --color-secondary-content: "#FFFFFF";
    --color-accent: "#B7B1AD";
    --color-accent-content: "#000000";
    --color-neutral: "#505050";
    --color-neutral-content: "#FFFFFF";
    --color-base-100: "#2D2D2E";
    --color-base-200: "#464647";
    --color-base-300: "#58585A";
    --color-base-content: "#e9f3f1";
    --color-success: "#177c68";
    --color-success-content: "#FFFFFF";
    --color-warning: "#E89300";
    --color-warning-content: "#FFFFFF";
    --color-info: "#464647";
    --color-info-content: "#FFFFFF";
    --color-error: "#DC3526";
    --color-error-content: "#FFFFFF";
    --color-light-content: "#FFFFFF";
}

@plugin "daisyui/theme" {
    name: "adeliom";
    --color-primary: #8c46ff;
    --color-primary-content: #FFFFFF;
    --color-secondary: #530ECB;
    --color-secondary-content: #FFFFFF;
    --color-accent: #fcb900;
    --color-accent-content: #FFFFFF;
    --color-neutral: #eeeeee;
    --color-neutral-content: #0a0a0a;
    --color-base-100: #FFFFFF;
    --color-base-200: #f5f5f5;
    --color-base-300: #e5e5e5;
    --color-base-content: #0a0a0a;
    --color-success: #8c46ff;
    --color-success-content: #FFFFFF;
    --color-warning: #FBAB24;
    --color-warning-content: #FFFFFF;
    --color-info: #48485C;
    --color-info-content: #FFFFFF;
    --color-error: #ec2e69;
    --color-error-content: #FFFFFF;
    --color-light-content: #FFFFFF;

    --radius-field: 0;
    --btn-shadow: none;
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@custom-variant dark (&:where(.dark, .dark *));
@variant is-loading (&:where(.is-loading, .is-loading *));
@variant is-open (&:where(.is-open, .is-open *));
@variant menu-open (&:where(.menu-open, .menu-open *));
@variant block-bg-gray (&:where(.block-bg-gray, .block-bg-gray *));
@variant block-bg-secondary (&:where(.block-bg-secondary, .block-bg-secondary *));
@variant is-selected (&:where(.is-selected, .is-selected *));
@variant open-container (&:where(.open-container, .open-container *));
@variant open-container (&:where(.open-desktop, .open-desktop *));

/* Fonts */
@import url("./Fonts/index.css");

/*!* Layout *!*/
/*@import url("./Layout/index.css");*/

/*!* Typography *!*/
@import url("./Typography/index.css");

/*!* Action *!*/
/*@import url("./Action/index.css");*/

/*!* Checkout *!*/
/*@import url("./Checkout/index.css");*/

/*!* Feedback *!*/
/*@import url("./Feedback/index.css");*/

/*!* Utils *!*/
/*@import url("./Utils/index.css");*/

/*!* Form *!*/
/*@import url("./Forms/index.css");*/

/*!* Product page *!*/
/*@import url("./Product/index.css");*/

/*!* Navigation page *!*/
/*@import url("./Navigation/index.css");*/

