@import "tailwindcss" source(none);
@source './assets/**/*.js';
@source './themes/**/assets/**/*.js';
@source './templates/**/*.html.twig';
@source './themes/**/*.html.twig';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "adeliom";
    default: false; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */

    --color-base-100: oklch(98% 0.02 240);
    --color-base-200: oklch(95% 0.03 240);
    --color-base-300: oklch(92% 0.04 240);
    --color-base-content: oklch(20% 0.05 240);
    --color-primary: oklch(0.586 0.254 294.41);
    --color-primary-content: oklch(98% 0.01 240);
    --color-secondary: oklch(0.433 0.243 286.355);
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-neutral: oklch(50% 0.05 240);
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(0.586 0.254 294.41);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #177c68;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: #177c68;
    --color-primary-content: #FFFFFF;
}

/* Fonts */
@import "./Fonts/index.css";

/* Layout */
@import "./Layout/index.css";

/* Typography */
@import "./Typography/index.css";

/* Action */
@import "./Action/index.css";

/* Checkout */
@import "./Checkout/index.css";

/* Feedback */
@import "./Feedback/index.css";

/* Utils */
@import "./Utils/index.css";

/* Form */
@import "./Forms/index.css";

/* Product page */
@import "./Product/index.css";

/* Navigation page */
@import "./Navigation/index.css";
