<div class="text-center my-3 wrapper-12">
    <h1 class="col-span-full lg:col-start-3 lg:col-span-8 heading-3">{{ taxon.name }}</h1>
    <p class="col-span-full lg:col-start-3 lg:col-span-8 ">{{ taxon.description }}</p>
</div>