{% set view_options = {
    authorized: {icon: "fas fa-check", bgColor: "primary", textColor: "primary-content"},
    cancelled: {icon: "fas fa-ban", bgColor: "warning", textColor: "warning-content"},
    completed: {icon: "fas fa-adjust", bgColor: "success", textColor: "success-content"},
    failed: {icon: "fas fa-ban", bgColor: "danger", textColor: "error-content"},
    new: {icon: "fas fa-clock", bgColor: "secondary", textColor: "secondary-content"},
    processing: {icon: "fas fa-check", bgColor: "info", textColor: "info-content"},
    refunded: {icon: "fas fa-reply-all", bgColor: "light", textColor: "light-content"},
} %}

{% set value = 'sylius.ui.' ~ state %}

<span class="bg-{{ view_options[state]['bgColor'] }} text-{{ view_options[state]['textColor'] }} badge flex items-center gap-1 p-3">
    <i class="{{ view_options[state]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
