<section class="text-center p-5 lg:p-16">
    <div class="max-w-[1000px] mx-auto">
        <h2 class="mb-8 heading-4">{{ 'sylius.homepage.about_us'|trans }}</h2>
        <p class="text-lg text-base-content">{{ 'sylius.homepage.about_us_content'|trans|raw }}</p>
    </div>
</section>
