{% set nb_products = products|length %}
<div class='w-full relative'>
    {% if nb_products > 2 %}
        <div class="carousel w-full flex lg:items-center relative">
            {% for product in products %}
                {% include '@SyliusShop/Product/_box.html.twig' with {role: 'carousel-product', number: loop.index} %}
            {% endfor %}
        </div>

        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide1" class="btn btn-circle">❮</a>
            <a href="#slide6" class="btn btn-circle">❯</a>
        </div>
    {% else %}
        {% for product in products %}
            {% include '@SyliusShop/Product/_box.html.twig' with {role: 'card-product'} %}
        {% endfor %}
    {% endif %}
</div>

